.complaint-box {
    min-width: 800px;
    padding: 10px;
    margin: 0 auto;
    .complaint-item {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 20px;
        border: 1px solid #efefef;
        border-radius: 2%;
        background-color: #fefefe;
        .item-top {
            width: 100%;
            display: flex;
            padding: 10px;
            padding-bottom: 10px;
            justify-content: space-between;
            background-color: #fefefe;
            // border-bottom: 1px solid #efefef;
            .username {
                margin-left: 10px;
            }
            .orderid {
                margin-left: 5px;
            }
        }
        .item-body {
            width: 100%;
            min-height: 150px;
            padding: 10px;
            background-color: #ffff;
            border: 1px solid #efefef;
            display: flex;
            .complaint-text {
                font-weight: 500;
                margin-left: 20px;
            }
        }
        .complaint-footer {
            width: 100%;
            padding: 10px;
            text-align: right;
            .active {
                color: #ffff;
                margin-right: 20px;
                background-color: #FF4D4F;
                border: none
            }
        }
    }
}