.ant-layout {
  .ant-layout-header {
    display: flex;
    justify-content: space-between;
    // background-color: aliceblue;
    padding: 0 50px;
    .ant-menu {
      flex: 1;
      padding: 0 50px;
     
    }
    p {
      color: #1890FF;
      font-size: 24px;
      font-weight: 550;
      .showUserName{
        color:#eee;
        font-size: 14px;
      }
    }
  }
}
