@import './reset.css';
@import './oneGym.css';
@import './complaint.scss';
@import "./List.scss";
@import './Login.scss';
@import './sDetails.scss';
@import './cDetails.scss';
@import './addActive.scss';
@import './firstPage.scss';
@import './header.scss';

.box {
    width: 100;
    .box2 {
        background-color: aqua;
    }
}

body {
    width: 100vh;
    height: 100vh;
}

#root {
    height: 100%;
}

.ant-layout {
    min-width: 1200px;
    height: 100%;
}